#navbarNav{
    justify-content: flex-end;
    cursor: pointer;
}
.navbar-nav{
    margin-right:1rem;
}
button{
    background-color: transparent;
    border:none;
    outline:none;
    color:white;
    margin:0rem 1rem;
}
button:hover{
    color:lightslategray;
}
.profile img{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin:0rem 0.5rem 0rem 0rem;
}
.profile{
    color:white;
}
a{
    text-decoration: none;
}

@media screen and (max-width:600px)
{
    .navbar-nav button{
        margin:0.8rem 0.5rem;
    }
    .profile{
        border-top:1px solid whitesmoke;
        padding:0.5rem 0rem 0rem 0rem;
    }
    .profile-image img{
        margin:0rem 0.5rem;
    }
}